@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razor MVC example</title>
</head>
<body>
    <h1>Welcome to Razor Pages and MVC example</h1>
    <p>Go to <a href="RazorPages/Index">Razor Pages Implementation</a></p>
    <p>GO to <a href="Mvc/Index">Mvc Implementations</a></p>
</body>
</html>