@page
@model InlineCodebehindFileModel
@* @using Microsoft.AspNetCore.Mvc.RazorPages *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>@Model.Title</h1>
    <p>@Model.Message</p>
    <p> <a href="/">back</a></p>
</body>

</html>

@functions {
    public class InlineCodebehindFileModel : Microsoft.AspNetCore.Mvc.RazorPages.PageModel
    {
        public string Title => "Page with inlide code behind file model";
        public string Message { get; private set; }
        public void OnGet()
        {
            Message = $"Generated at {DateTime.Now.ToLongTimeString()}.";
        }
    }
}